<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bivanalzackyh.cardapplication">

    <!-- wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Server -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayerChoosingGame" />
        <activity android:name=".ConnectToPlayer" />
        <activity android:name=".PlayerManageGame" />
        <activity android:name=".PlayerJoinTable" />
        <activity android:name=".GameStartingPlayer" />
        <activity android:name=".GameStartingTable" />
        <activity android:name=".Table2Player" />
        <activity android:name=".Table3Player" />
        <activity android:name=".Table4Player" />
        <activity android:name=".PlayerHand" />
        <activity android:name=".PlayerJoined" />
        <activity android:name=".CongratulateWinning" />
        <activity android:name=".PoorLosing"></activity>
    </application>

</manifest>